@font-face {
	font-family: "NorseBold";
	src: local("Norse Bold"), url("../assets/fonts/Norse-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "system";
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"),
		local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
	--aside-height: min(20vh, 10rem);
	--logo-content-size: min(var(--aside-height) - 1rem, calc(1rem + max(10vmax, 10vmin)));
	--logo-size: var(--logo-content-size);
	--logo-header-font-size: var(--logo-content-size);
	--quote-section-height: calc(100vh - var(--aside-height));
	--h2-font-size: min(calc(1rem + 1vw), 1.7rem);
	--content-margin: 1rem min(1rem, 10vw);
	--input-border-color: rgb(207, 207, 207);
	--input-label-color: rgb(88, 87, 87);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: system;
}

.wrapper {
	height: 100%;
	display: grid;
	gap: 1.25rem;
	grid-template-rows: var(--aside-height) 1fr;
}

.aside-pic-wrapper {
	overflow: hidden;
	display: grid;
	grid-template-areas: "logo";
	grid-template-rows: var(--aside-height);
	font-family: NorseBold;
	color: white;
}

.aside-pic-image {
	margin: 0 auto;
	width: 100%;
	height: auto;
	grid-area: logo;
}

.logo-wrapper {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: auto;
	height: var(--logo-size);
}

.logo-header {
	font-size: var(--logo-header-font-size);
}

.main-container {
	display: flex;
	gap: 1.25rem;
	flex-direction: column;
}

.content-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: var(--content-margin);
}

.quote {
	font-size: var(--h2-font-size);
}
.quote-2 {
	margin-top: min(3vh, 3rem);
}

.sign-up-section {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	gap: 10px;
}

.form-row {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 0.9rem;
	font-weight: 700;
	color: var(--input-label-color);
}

.sign-up-form {
	display: grid;
	gap: 10px;
}

.input {
	height: 1.9rem;
	border: 1px solid var(--input-border-color);
	border-radius: 5px;
}
