@font-face {
	font-family: "NorseBold";
	src: local("Norse Bold"), url("../assets/fonts/Norse-Bold.otf");
	font-weight: bold;
}

:root {
	--aside-height: min(20vh, 10rem);
	--logo-size: clamp(3rem, 20vh, calc(var(--aside-height) - 1rem));
	--logo-header-font-size: clamp(3rem, 20vh, calc(var(--aside-height) - 1rem));
	--h2-font-size: calc(1.5rem +  0.5vw);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.wrapper {
	height: 100%;
	display: grid;
	grid-template-rows: var(--aside-height) 1fr;
}

.aside-pic-wrapper {
	overflow: hidden;
	display: grid;
	grid-template-areas: "logo";
	grid-template-rows: var(--aside-height);
	font-family: NorseBold;
	color: white;
}

.aside-pic-image {
	margin: 0 auto;
	width: 100%;
	height: auto;
	grid-area: logo;
}

.logo-wrapper {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: var(--logo-size);
	height: var(--logo-size);
}

.logo-header {
	font-size: var(--logo-header-font-size);
}

.main-container {
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: var(--h2-font-size);
}