@font-face {
	font-family: "NorseBold";
	src: local("Norse Bold"), url("../assets/fonts/Norse-Bold.otf");
	font-weight: bold;
}

@font-face{
	font-family: "system";
  font-style: normal;
  font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
	--aside-height: min(20vh, 10rem);
	--logo-size: calc(1rem + min(10vw, 10vh));
	--logo-header-font-size: calc(1rem + min(10vw, 10vh));
	--h2-font-size: calc(1.5rem +  0.5vw);

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: system;
}

.wrapper {
	height: 100%;
	display: grid;
	grid-template-rows: var(--aside-height) 1fr;
}

.aside-pic-wrapper {
	overflow: hidden;
	display: grid;
	grid-template-areas: "logo";
	grid-template-rows: var(--aside-height);
	font-family: NorseBold;
	color: white;
}

.aside-pic-image {
	margin: 0 auto;
	width: 100%;
	height: auto;
	grid-area: logo;
}

.logo-wrapper {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: var(--logo-size);
	height: var(--logo-size);
}

.logo-header {
	font-size: var(--logo-header-font-size);
}

.main-container {
	display: flex;
	flex-direction: column;
}

.content-section {
	display: flex;
	flex-direction:column;
}

.quote {
	font-size: var(--h2-font-size);
	margin: 1rem max(1rem, 10vw);
}
